body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: whitesmoke;
}

/* .center_div{
    text-align:center;
    margin:15% auto;
}

.myNumber{
    color:yellow;
    font-size:5rem;
}

.button2{
    border: ridge 5px whitesmoke;
    box-shadow: 0.5rem 0.2rem 20rem 0.1rem whitesmoke, 1rem -1rem 8rem 1rem silver inset;
    border-radius:1.5rem;
    padding: 3% 7%;
    text-align:center;
    font-size:2rem;
}

.container{
    display:flex;
    justify-content: space-around;
} */

.main-cont {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.elements {
    display: grid;
    align-content: space-between;
    height: 40vh;
    justify-items: center;
}

h1 {
    font-size: 4em;
}

.op-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border: turquoise 5px solid;
}

input {
    height: max-content;
}

.op-cont div {
    padding: 0.5em;
    border: white solid 0.1em;
}

.side {
    color: black;
    background-color: rgb(185, 179, 179);
    font-size: 2em;
}
